<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All the costs</title>
</head>
<body>
<h1>All the costs</h1>
<ul>
    <% for(let cost of costs){ %>
        <li><a href="/costs/<%=cost._id%>"><%= cost.description %></a></li>
    <% } %>
</ul>
<a href="/costs/addcost">Add cost</a>
<a href="/costs/report">Report</a>
</body>
</html>
