<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>create a user </title>
</head>
<body>

<h1>Create user</h1>
<form id="CreateUser" action="/user" method="POST">
    <label for="user_id">user_id:</label>
    <input type="String" name=" id" id="id" placeholder="id">
    <label for="first_name">year:</label>
    <input type="text" name="first_name" id="first_name" placeholder="first_name">
    <label for="last_name">month:</label>
    <input type="text" name="last_name" id="last_name" placeholder="last_name">
    <label for="year">year:</label>
    <input type="text" name="year" id="year" placeholder=" year">
    <label for="month">month:</label>
    <input type="Number" name="month" id="month" placeholder=" month">
    <label for="day">day:</label>
    <input type="Number" name="day" id="day" placeholder=" day">


    <button>Create register</button>

    <a href="/login">Back to all costs</a>
</form>

</body>
</html>